<style>
    .courses {
        width: 80%;
        
    }
    

    .course_item {
        width: 320px;
        height: 280px;
    }

    form select {
        justify-content: center;

        margin: 15px 300px;
        width: 50%;
        border: 1px solid #ddd;
        height: 30px;
        padding: 5px;
        outline: none;
    }

    form h2 {
        margin-top: 10px;
        text-align: center;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>



<header>
    <div class="mycontainer">
        <div class="header-content">
            <img src="images/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a routerLink="/admin/Courses" class="link">Courses</a> </li>
                    <li><a routerLink="/admin/Courseregisteration" class="link">Course Registeration</a></li>
                    <li><a routerLink="/admin/Grades" class="link">Grades</a></li>
                </ul>
            </nav> <!-- close nav -->
            <div class="profile">
                <ul>
                    <li>
                        <a routerLink="/admin/Logout" class="link"><i class="fas fa-user"></i></a>
                        <div></div>
                    </li>
                    <li><a routerLink="/admin/Logout" class="link">Log Out</a></li>
                </ul>
            </div> <!-- close profile -->
        </div> <!-- close header-content -->
    </div><!-- close mycontainer -->
</header> <!-- close header -->

<form>
    <h2>All courses</h2>
    <select name="account_type" [(ngModel)]="selectedOption" (change)="onSelect(selectedOption)">

        <option value="Instructor">Year</option>
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
    </select>
</form>


<section>

    <div *ngFor="let t of Courses; let i=index;">
        <div class="course_page" *ngIf="t.year===selectedOption">
            <div class="courses" >
                <div class="course_item">
                    <div>
                        <h4>Course:</h4>
                        <span>{{t.name}}</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>{{t.hours}}</span>
                    </div>
                    <div>
                        <h6>Capacity:</h6>
                        <span>{{t.capacity}}</span>
                    </div>
                    <button (click)="editCourse(t)">Edit Course</button>
                    <hr>
                    <input type="checkbox" name="archive" [(ngModel)]="t.isArchived" (change)="toggleSelection(t)">
                    <label>Archive</label>
                </div><!-- close course_item -->
                
            

        </div><!-- close course_page -->
    </div><!-- close mycontainer -->
    </div>
        

</section>


<!-- Edit Form Modal -->
<div class="modal" *ngIf="showEditModal">
    <div class="modal-content">
        <form class="form" [formGroup]="reactiveFormGroup" (ngSubmit)="updateCourse()">
            <div class="form-group">
                <label for="name">Course Name</label>
                <input type="text" formControlName="name">

                <div *ngIf="reactiveFormGroup?.get('name')?.invalid" class="error">
                    <span *ngIf="reactiveFormGroup?.get('name')?.errors?.['required']">
                        Course Name is required.
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <label for="grade">Course Hours</label>
                        <input type="number" min="1" formControlName="hours">

                        <div *ngIf="reactiveFormGroup?.get('hours')?.invalid" class="error">
                            <span *ngIf="reactiveFormGroup?.get('hours')?.errors?.['required']">
                                Course Hours is required.
                            </span>
                            <span *ngIf="reactiveFormGroup?.get('hours')?.errors?.['min']">
                                Course Hours should be greater than 0.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="capacity">Course Capacity</label>
                        <input type="number" min="100" formControlName="capacity">

                        <div *ngIf="reactiveFormGroup?.get('capacity')?.invalid" class="error">
                            <span *ngIf="reactiveFormGroup?.get('capacity')?.errors?.['required']">
                                Course Capacity is required.
                            </span>
                            <span *ngIf="reactiveFormGroup?.get('capacity')?.errors?.['min']">
                                Course Capacity should be greater than of equal 100.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="button-container">
                <button type="submit" [disabled]="!reactiveFormGroup.valid">Submit</button>
                <button type="submit" (click)="showEditModal = false">Cancel</button>
            </div>
        </form>
    </div>
</div>