<style>
    .courses {
        width: 80%;
        
    }
    

    .course_item {
        width: 320px;
        height: 280px;
    }

    form select {
        justify-content: center;

        margin: 15px 300px;
        width: 50%;
        border: 1px solid #ddd;
        height: 30px;
        padding: 5px;
        outline: none;
    }

    form h2 {
        margin-top: 10px;
        text-align: center;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>



<header>
    <div class="mycontainer">
        <div class="header-content">
            <img src="images/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a routerLink="Courses" class="link">Courses</a> </li>
                    <li><a routerLink="Courseregisteration" class="link">Course Registeration</a></li>
                    <li><a routerLink="Grades" class="link">Grades</a></li>
                </ul>
            </nav> <!-- close nav -->
            <div class="profile">
                <ul>
                    <li>
                        <a routerLink="Logout" class="link"><i class="fas fa-user"></i></a>
                        <div></div>
                    </li>
                    <li><a routerLink="Logout" class="link">Log Out</a></li>
                </ul>
            </div> <!-- close profile -->
        </div> <!-- close header-content -->
    </div><!-- close mycontainer -->
</header> <!-- close header -->

<form>
    <h2>All courses</h2>
    <select name="account_type">

        <option value="Instructor">Year</option>
        <option value="Student">1</option>
        <option value="Student">2</option>
        <option value="Student">3</option>
        <option value="Student">4</option>
    </select>
</form>


<section>

    <div *ngFor="let t of Courses; let i=index;">
        <div class="course_page" >
            <div class="courses" >
                <div class="course_item">
                    <div>
                        <h4>Course:</h4>
                        <span>{{t.name}}</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>{{t.hours}}</span>
                    </div>
                    <div>
                        <h6>Capacity:</h6>
                        <span>{{t.capacity}}</span>
                    </div>
                    <button>Edit Course</button>
                    <hr>
                    <input type="checkbox" name="archive" >
                    <label>Archive</label>
                </div><!-- close course_item -->
                
            

        </div><!-- close course_page -->
    </div><!-- close mycontainer -->
    </div>
        

</section>