 <!-- header -->
 <header>
    <div class="mycontainer">
        <div class="header-content">
            <img src="assets/images/logo.png"  alt="logo">
           
            <div class="profile">
                <ul>
                    <li><a routerLink="/login" class="link">Sign In</a></li>
                    <li><a routerLink="/signup" class="link">Sign Up</a></li>
                </ul>
            </div> <!-- close profile -->
        </div> <!-- close header-content -->
    </div><!-- close mycontainer -->
</header> <!-- close header -->
