<section>
    <div class="mycontainer">
        <div class="grade_page">
            <div class="grade_etails">
                <select name="year">
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                </select>
                <select name="Semester">
                    <option value="Semester1">Semester 1</option>
                    <option value="Semester2">Semester 2</option>
                </select>
                <div>
                    <span>CGPA:</span>
                    <span>B+</span>
                </div>
                <div>
                    <span>Grade of Semester:</span>
                    <span>B+</span>
                </div>


            </div>
            <div class="grade">
                <div class="grade_item">
                    <h3>OPP</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>B+</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>4</span>
                    </div>
                </div><!-- close grade_item -->
                <div class="grade_item">
                    <h3>OPP</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>B+</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>4</span>
                    </div>
                </div><!-- close grade_item -->
                <div class="grade_item">
                    <h3>OPP</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>B+</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>4</span>
                    </div>
                </div><!-- close grade_item -->
                <div class="grade_item">
                    <h3>OPP</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>B+</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>4</span>
                    </div>
                </div><!-- close grade_item -->
                <div class="grade_item">
                    <h3>OPP</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>B+</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>4</span>
                    </div>
                </div><!-- close grade_item -->
                <div class="grade_item">
                    <h3>OPP</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>B+</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>4</span>
                    </div>
                </div><!-- close grade_item -->

            </div><!-- close grade -->

        </div><!-- close grade_page -->
    </div><!-- close mycontainer -->

</section>