<section>
    <div class="mycontainer">
        <div class="grade_page">
            <div class="grade_etails">
                <select name="year" [(ngModel)]="selectedOption" (change)="onSelect(selectedOption)">
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="2">2</option>
                    <option [ngValue]="3">3</option>
                    <option [ngValue]="4">4</option>
                </select>
            </div>
            <div class="grade" *ngFor="let Ass of Assignments ">
                <div class="grade_item" *ngIf="Ass.year===selectedOption ">
                    <h3>{{Ass.name}}</h3>
                    <div>
                        <h4>Grade:</h4>
                        <span>{{Ass.grades[user.id]}}</span>
                    </div>
                </div><!-- close grade_item -->
                
            </div><!-- close grade -->

        </div><!-- close grade_page -->
    </div><!-- close mycontainer -->

</section>