<app-instructor-header></app-instructor-header>

<div class="body">
    <div class="container">
        <h1 class="title">Add Course</h1>

        <div class="dropdown-container">
            <label for="year">Year</label>
            <select id="year" name="year" [(ngModel)]="year">
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
            </select>
        </div>

        <form class="form">
            <div class="form-group">
                <label for="name">Course Name</label>
                <input type="text" id="name" name="name" [(ngModel)]="name">
            </div>

            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <label for="grade">Course Hours</label>
                        <input type="number" min="1" id="hours" name="hours" [(ngModel)]="hours">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="capacity">Course Capacity</label>
                        <input type="number" min="100" id="capacity" name="capacity" [(ngModel)]="capacity">
                    </div>
                </div>
            </div>

            <div class="button-container">
                <button type="submit" (click)="addCourse()">Add</button>
            </div>
        </form>
    </div>
</div>