<div class="body">
    <div class="container">
        <h1 class="title">All Your Courses:</h1>

        <div class="dropdown-container">
            <label for="dropdown">Year</label>
            <select id="dropdown" [(ngModel)]="year" (change)="filterCoursesByYear()">
                <option [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
            </select>
        </div>

        <div class="grid-container">
            <div class="box" *ngFor="let course of yearCourses">
                <div class="info">
                    <div class="label">Course:</div>
                    <div id="course">{{ course.name }}</div>
                </div>

                <div class="info">
                    <div class="label">Credit Hours: </div>
                    <div>{{ course.hours }}</div>
                </div>

                <div class="info">
                    <div class="label">Capacity: </div>
                    <div id="capacity">{{ course.capacity }}</div>
                </div>

                <div class="button-container">
                    <button type="submit" (click)="editCourse(course)">Edit Course</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Form Modal -->
    <div class="modal" *ngIf="showEditModal">
        <div class="modal-content">
            <form class="form" [formGroup]="reactiveFormGroup" (ngSubmit)="updateCourse()">
                <div class="form-group">
                    <label for="name">Course Name</label>
                    <input type="text" formControlName="name">

                    <div *ngIf="reactiveFormGroup?.get('name')?.invalid" class="error">
                        <span *ngIf="reactiveFormGroup?.get('name')?.errors?.['required']">
                            Course Name is required.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        <div class="form-group">
                            <label for="grade">Course Hours</label>
                            <input type="number" min="1" formControlName="hours">

                            <div *ngIf="reactiveFormGroup?.get('hours')?.invalid" class="error">
                                <span *ngIf="reactiveFormGroup?.get('hours')?.errors?.['required']">
                                    Course Hours is required.
                                </span>
                                <span *ngIf="reactiveFormGroup?.get('hours')?.errors?.['min']">
                                    Course Hours should be greater than 0.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="capacity">Course Capacity</label>
                            <input type="number" min="100" formControlName="capacity">

                            <div *ngIf="reactiveFormGroup?.get('capacity')?.invalid" class="error">
                                <span *ngIf="reactiveFormGroup?.get('capacity')?.errors?.['required']">
                                    Course Capacity is required.
                                </span>
                                <span *ngIf="reactiveFormGroup?.get('capacity')?.errors?.['min']">
                                    Course Capacity should be greater than of equal 100.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-container">
                    <button type="submit" [disabled]="!reactiveFormGroup.valid">Submit</button>
                    <button type="submit" (click)="showEditModal = false">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>