* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "pt-sans", sans-serif;

}

.mycontainer {
    width: 100%;
    margin: auto;

}

.section_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 25%;
    text-align: center;
}

.section_form h2 {
    font-size: 50px;
    letter-spacing: 2px;
    color: #2D9596;
}

.section_form form input {
    display: block;
    margin: 15px 0px;
    width: 100%;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #2D9596;
}

.section_form form select {
    display: block;
    margin: 15px 0px;
    width: 100%;
    height: 30px;
    padding: 5px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #2D9596;
}

.section_form form input[type="submit"]:enabled:hover {
    background-color: #169BD5;
}

.section_form form input[type="submit"]:disabled {
    background-color: #2D9596;
    color:white;
}