<app-reg-header></app-reg-header>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
    </head>
    <body>
        <section class="home">
            <div class="mycontainer">
                <div class="section_form">
                    <h2>Login User</h2>
                    <form >
                        <input type="text" placeholder="Enter Username" id="username">
                        <input type="password" placeholder="Enter Password" id="password">
                        <input type="submit" value="Sign In" id="Sign_in">
                        Don't Have An Acouunt <a href="Register.html">Register</a>
                    </form>
                </div><!-- close section_form -->
            </div><!-- close mycontainer -->
        </section><!-- close home -->
        
        
    </body>
</html>