<!-- header -->
<header>
    <div class="mycontainer">
        <div class="header-content">
            <img src="assets/images/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a href="" class="link">Add Course</a> </li>
                    <li><a href="" class="link">Add Assessment</a></li>
                    <li><a href="" class="link">Upload Grades</a></li>
                    <li><a href="" class="link">Students Progress</a></li>
                </ul>
            </nav> <!-- close nav -->
            <div class="profile">
                <ul>
                    <li>
                        <a href="#" class="link"><i class="fas fa-user"></i></a>
                        <div></div>
                    </li>
                    <li><a href="Login.html" class="link">Log Out</a></li>
                </ul>
            </div> <!-- close profile -->
        </div> <!-- close header-content -->
    </div><!-- close mycontainer -->
</header> <!-- close header -->