<style>
    .courses {
        width: 80%;

    }
</style>
<section>
    <div class="mycontainer">
        <div class="course_page">
            <div class="courses">
                <div class="course_item" >
                    <div>
                        <h4>Users</h4>

                    </div>
                    <div>

                        
                        <span>{{users.length}}</span>

                    </div>
                    <button routerLink="/admin/Users">Show</button>
                </div><!-- close course_item -->
                <div class="course_item" >
                    <div>
                        <h4>Courses</h4>

                    </div>
                    <div>

                        
                        <span>{{Courses.length}}</span>

                    </div>
                    <button routerLink="/admin/Courses">Show</button>
                </div><!-- close course_item -->
                
                <div class="course_item">
                    <div>
                        <h4>Assign courses</h4>

                    </div>
                    <div>

                    </div>
                    <button routerLink="/admin/Assigncourses">Show</button>
                </div><!-- close course_item -->

            </div><!-- close courses -->

        </div><!-- close course_page -->
    </div><!-- close mycontainer -->

</section>