<header>
    <div class="mycontainer">
        <div class="header-content">
            <img src="images/logo.png" alt="logo">
            <nav>
                <ul>
                    <li><a routerLink="/admin/Users" class="link">Users</a> </li>
                    <li><a routerLink="/admin/Courses" class="link">Courses</a></li>
                    <li><a routerLink="/admin/Assigncourses" class="link">Assign courses</a></li>
                </ul>
            </nav> <!-- close nav -->
            <div class="profile">
                <ul>
                    <li>
                        <a routerLink="/admin/Logout" class="link"><i class="fas fa-user"></i></a>
                        <div></div>
                    </li>
                    <li><a routerLink="/admin/Logout" class="link">Log Out</a></li>
                </ul>
            </div> <!-- close profile -->
        </div> <!-- close header-content -->
    </div><!-- close mycontainer -->
</header> <!-- close header -->


<!--begin table-->
<div class="container">


    <div class="table">
        <div class="table-header">
            <div class="header__item"><a id="name" class="filter__link" href="#">Student Email</a></div>
            <div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">ID</a></div>
            <div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Course</a></div>
            <div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">Accept</a></div>
            <div class="header__item"><a id="total" class="filter__link filter__link--number" href="#">Refuse</a></div>
        </div>
        <div class="table-content" *ngFor="let t of reg; let i=index;">
            <div *ngIf="t.isSelected">
                <div class="table-row">
                    <div class="table-data">{{t.student_email}}</div>
                    <div class="table-data">{{t.id}}</div>
                    <div class="table-data">{{t.course_name}}</div>

                    <div class="table-data" (click)="accept(t)">
                        <button class="btn1"> Accept</button>
                    </div>

                    <div class="table-data" (click)="reject(t)">
                        <button class="btn1"> Reject</button>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
<!--end table-->