<app-reg-header></app-reg-header>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Register Page</title>
    </head>
    <body>
        <section class="home">
            <div class="mycontainer">
                <div class="section_form">
                    <h2>Register</h2>
            <form >
                <input type="text" placeholder="Enter Username" id="username">
                <input type="email" placeholder="Enter Email" id="email">
                <input type="password" placeholder="Enter Password" id="password">
                <input type="password" placeholder="Confirm Password" id="confirm_password">
                <select name="account_type" >
                    <option value="Instructor">Instructor</option>
                    <option value="Student">Student</option>
                </select>
                <input type="submit" value="Sign Up" id="Sign_up">
                
                Have An Account <a href="Login.html">Login</a>
            </form>
                </div><!-- close section_form -->
            </div><!-- close mycontainer -->
        </section><!-- close home -->
       
    </body>
</html>
