<section>
    <div class="mycontainer">
        <div class="course_page">
            <div class="courses" >
                <div class="course_item" *ngFor="let course of CoursesReg" >
                    <div>
                        <h4>Course:</h4>
                        <span>{{course.course_name}}</span>
                    </div>
                    <div>
                        <h6>Credit hours:</h6>
                        <span>{{course.hours}}</span>
                    </div>
                    <button (click)="toggleSelection(course)">
                      {{ course.isSelected ?  'UnSelecte' : 'Selecte' }}</button>
                </div><!-- close course_item -->
                
            </div><!-- close courses -->
            <div class="hours">
                <div class="houre_item">
                    <div>
                        <span>0</span>
                        <br>
                        <span>Mandatory hours</span>
                    </div>
                    <progress value="50" max="100"></progress>
                </div><!-- close houre_item -->
                <div class="houre_item">
                    <div>
                        <span>0</span>
                        <br>
                        <span>Selected topic hours</span>
                    </div>
                    <progress value="50" max="100"></progress>
                </div><!-- close houre_item -->
                <div class="houre_item">
                    <div>
                        <span>0</span>
                        <br>
                        <span>Total hours</span>
                    </div>
                    <progress value="50" max="100"></progress>
                </div><!-- close houre_item -->
                <button (click)="saveChanges()">Save</button>
            </div><!-- close hours -->
        </div><!-- close course_page -->
    </div><!-- close mycontainer -->

</section>