*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "pt-sans",sans-serif;
    
}
.mycontainer{
    width: 100%;
    margin: auto;
    
}
.course_details{
    width: 60%;  
    margin: auto;
   
 }
 .course_details h2{
    margin: 40px 5px;
 }
 .weak{
    border: 5px solid #ddd;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    padding-left: 15px;
 }
 .weak a{
    text-decoration: none;
    color: black;
    font-weight: bold;
 }
.weak hr{
    width: 100px;
    border: 1px solid black;
}
.weak a i{
    font-size: 20px;
    margin: 5px;
    transform: rotateX(180deg);
}
.weak span {
margin-left: 10px;
}

