<section>
    <div class="mycontainer">
        <div class="course_details">
            <h2>
                <span>OPP</span>
                <span>Material Course</span>
            </h2>
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak1" role="button" aria-expanded="false"
                    aria-controls="collapsweak1">
                    <i class="fas fa-angle-up"></i>Weak:1
                </a>
                <div class="collapse" id="collapsweak1">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak2" role="button" aria-expanded="false"
                    aria-controls="collapsweak2">
                    <i class="fas fa-angle-up"></i>Weak:2
                </a>
                <div class="collapse" id="collapsweak2">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak3" role="button" aria-expanded="false"
                    aria-controls="collapsweak3">
                    <i class="fas fa-angle-up"></i>Weak:3
                </a>
                <div class="collapse" id="collapsweak3">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak4" role="button" aria-expanded="false"
                    aria-controls="collapsweak4">
                    <i class="fas fa-angle-up"></i>Weak:4
                </a>
                <div class="collapse" id="collapsweak4">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak5" role="button" aria-expanded="false"
                    aria-controls="collapsweak5">
                    <i class="fas fa-angle-up"></i>Weak:5
                </a>
                <div class="collapse" id="collapsweak5">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak6" role="button" aria-expanded="false"
                    aria-controls="collapsweak6">
                    <i class="fas fa-angle-up"></i>Weak:6
                </a>
                <div class="collapse" id="collapsweak6">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak7" role="button" aria-expanded="false"
                    aria-controls="collapsweak7">
                    <i class="fas fa-angle-up"></i>Weak:7
                </a>
                <div class="collapse" id="collapsweak7">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
            <div class="weak">
                <a data-bs-toggle="collapse" href="#collapsweak8" role="button" aria-expanded="false"
                    aria-controls="collapsweak8">
                    <i class="fas fa-angle-up"></i>Weak:8
                </a>
                <div class="collapse" id="collapsweak8">
                    <hr>
                    <div>
                        <div>
                            <span>Lecture:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Lab:</span>
                            <span></span>
                        </div>
                        <div>
                            <span>Assignment:</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div><!-- close weak -->
        </div><!-- close course_details -->
    </div><!-- close mycontainer -->

</section>