<section>
    <div class="mycontainer">
        <div class="mycourse_page">
            <div class="mycourses" *ngIf="courses.length!==0">
                <div class="mycourses_item" *ngFor="let course of courses" (click)="courseDetails(course.name)">
                    <div>
                        <h4>Course: </h4>
                        <span>{{course.name}}</span>
                    </div>
                    <progress value="{{ progress[course.name] }}" max="100"></progress>
                </div><!-- close mycourse_item -->
            </div><!-- close mycourses -->

        </div><!-- close mycourse_page -->
    </div><!-- close mycontainer -->

</section>