<app-header></app-header>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
       
    </head>
    <body>
         
        <section>
            <div class="mycontainer">
                <div class="mycourse_page">
                    <div class="mycourses">
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                        <div class="mycourses_item">
                            <div>
                                <h4>Course:</h4>
                                <span>OPP</span>
                            </div>
                            <progress value="50" max="100"></progress>
                        </div><!-- close mycourse_item -->
                    </div><!-- close mycourses -->
                    
                </div><!-- close mycourse_page -->
            </div><!-- close mycontainer -->
      
        </section>
        
        
    </body>
</html>